body {
    font-family: Arial;
    color: 	rgb(250, 249, 246);
    background-color: rgb(35,39,42);

}
.header {
  padding: 60px;
  text-align: center;
  background: rgb(149, 53, 83);
  color: white;
  font-size: 30px;
  border-radius: 25px;
}
.box {
    background-color: rgb(35,39,42);
    margin: 10px;
    height:fit-content;
    width: fit-content;
    border-style: solid;
    border-color: rgb(149, 53, 83);
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
}
#exercisesStack{
    display: flex;
    flex-wrap: wrap;
    margin-left: center;
    margin-right: center;
    width: 100%;
    justify-content: center;
}