body {
    font-family: Arial;
    color: black;
    background-color:white;
}
.header {
  padding: 60px;
  text-align: center;
  background: #404040;
  color: white;
  font-size: 30px;
  border-radius: 25px;
}
.header > p {
    color: #B3B3B3  
}
.box {
    background-color: #404040;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
    text-align: center;
}
.box > h2 {
    color: white;
    text-transform: capitalize;
}
.box > p {
    text-align: center;
    color: #B3B3B3;
    font-size:18px;
}
select {
    font-size: 1.5rem;
    padding: 10px 10px;
    color:white;
    background-color: #404040;
    border-color:black;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}
.chooseWorkout {
    text-align: center;
}

.divider {
    background-color: #404040;
    height: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
#exercisesStack{
    display: flex;
    flex-wrap: wrap;
    margin-left: center;
    margin-right: center;
    width: 100%;
    justify-content: center;
}