body {
    font-family: Arial;
    color: 	rgb(250, 249, 246);
    background-color: rgb(44, 49, 53);

}
.header {
  padding: 60px;
  text-align: center;
  background: rgb(149, 53, 83);
  color: white;
  font-size: 30px;
  border-radius: 25px;
}
.box {
    margin: 10px;
    height:fit-content;
    width: fit-content;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(149, 53, 83);
    border-width: 3px;
    border-radius: 3px;
    display: flexbox;
    justify-content: space-evenly;
    text-align: center;
}
